{% extends 'base.html' %}
{% block content %}
    <div class="row">
    {% for todo in todos %}
        <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                     <h2><a href="{% url 'detail' todo.id %}">{{ todo.title }}</a></h2>
                </div>
                <div class="card-text">
                    <p>{{ todo.body }}</p>
                    <small class="badge bg-primary text-light">{{ todo.date }}</small>
                </div>

            </div>
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

